<div class="jumbotron animated fadeIn fast">
    <h1 class="display-4">HEROES APP</h1>
    <p class="lead">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consectetur architecto saepe enim rem placeat obcaecati porro magni numquam ratione dolorem? Quas quisquam sit dolor, ipsa amet cupiditate numquam eos recusandae.</p>

    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <a class="btn btn-primary btn-lg" [routerLink]="['heroes']">Watch Heroes!</a>

  </div>